@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@custom-variant dark (&:where(.dark, .dark *));

.text-glow-white {
  color: white;
  text-shadow: 0 0 1px white, 0 0 2px white, 0 0 3px white;
}

.text-glow-gray {
  color: #1f2937; /* dark gray text */
  text-shadow: 0 0 2px #3e5376, /* light gray close glow */ 0 0 4px #d2c78d; /* brighter outer glow */
}

html body {
  overscroll-behavior: contain;
}
